# Mapnik XML
data.xml
*.thumb.png
*.swp
*.pbf

# quickstart
quickstart.log


# imput / output data
data/*

# generated source files
#build/*
/build/openmaptiles.tm2source/
/build/style/

# Import cache
cache/*

# any IDE files
.idea/
.vscode/

